body {
    margin: 0em;
}

.cover {
    height: 0px;
    /*
    background-image: url("assets/banner.jpg");
  */    
 }
 
 .card {
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
 }
 
